<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    
    {% load static %}
    
    <link rel="stylesheet" href="{% static 'css/Style.css' %}">

</head>

<body>
    
    <header>
        
            <a href="http://127.0.0.1:8000/inicio/"  id="logo" ><img src="{% static 'img/LOGO-1.png' %}" height="100px"></a>

                        

            <nav>
                <ul class="navegacion">
                    <li><a href="http://127.0.0.1:8000/inicio/"> <img src="{% static 'img/home.png' %}" > Inicio</a></li>
                    <li><a href="http://127.0.0.1:8000/habitaciones/"><img src="{% static 'img/habitacion.png' %}" alt="">Habitaciones</a></li>
                    <li><a href="http://127.0.0.1:8000/planes/"><img src="{% static 'img/planes.png' %}" alt="">Planes</a></li>
                    <li><a href="http://127.0.0.1:8000/registro/"><img src="{% static 'img/Registro.png' %}" alt="">Registro</a></li>
                    <li><a href="http://127.0.0.1:8000/reserva/"><img src="{% static 'img/reserva.png' %}" alt="">Reserva</a></li>
                    <li><a href="http://127.0.0.1:8000/contacto/"><img src="{% static 'img/contacto.png' %}" alt="">Contacto</a></li>
                    {% if user.is.authenticated %}
                    <li><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
                    {% else %} 
                    <li><a href="{% url 'login' %}"> <img src="{% static 'img/usuario.png' %}" alt=""> Admin</a></li>
                    {% endif %}  
                    </ul>   
            </nav>
    </header>

   
    {% block contet %}

    

    {% endblock  %}
    



    <footer>
        <ul class="social">
            <li><a href="https://twitter.com/" target="_blank"><img src="{% static 'img/twitter.png' %}" alt=""></a></li>
            <li><a href="https://www.facebook.com/" target="_blank"><img src="{% static 'img/facebook.png' %}" alt=""></a></li>
            <li><a href="https://www.youtube.com/" target="_blank"><img src="{% static 'img/youtube.png' %}" alt=""></a></li>
            <li><a href="https://www.instagram.com/" target="_blank"><img src="{% static 'img/instagram.png' %}" alt=""></a></li>
            <li> <a href="https://goo.gl/maps/DVowTT9vkAGXGk5aA" target="_blank"><img src="{% static 'img/placeholder.png' %}" alt=""></a></li>
        </ul>
        <ul class="info">
        <div>
            <div>Términos y Condiciones  |</div>
            <div class="politicas">Política de Privacidad</div>
        </div>
        </ul>

    </footer>
</body>

</html>